:root {
  /* ### Primary */

  --timeTracking-Blue: hsl(246, 80%, 60%);
  --timeTracking-Light-red-work: hsl(15, 100%, 70%);
  --timeTracking-Soft-blue-play: hsl(195, 74%, 62%);
  --timeTracking-Light-red-study: hsl(348, 100%, 68%);
  --timeTracking-Lime-green-exercise: hsl(145, 58%, 55%);
  --timeTracking-Violet-social: hsl(264, 64%, 52%);
  --timeTracking-Soft-orange-self-care: hsl(43, 84%, 65%);

  /* ### Neutral */

  --timeTracking-Very-dark-blue: hsl(226, 43%, 10%);
  --timeTracking-Dark-blue: hsl(235, 46%, 20%);
  --timeTracking-Desaturated-blue: hsl(235, 45%, 61%);
  --timeTracking-Pale-Blue: hsl(236, 100%, 87%);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
